<div class="flex place-items-center gap-2 mb-4">
  <h1 class="text-xl lg:text-2xl font-bold">Announcements</h1>
  <% if current_user.admin? || current_user.owner? || current_user.receptionist? %>
    <%= link_to 'New Announcement', new_announcement_path, class: 'block py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
  <% end %>
</div>

<div class="mb-6">
  <h2 class="text-lg lg:text-xl font-bold">Published</h2>
  <%= render 'list', announcements: @published %>
</div>

<% if current_user.receptionist? || current_user.admin? || current_user.owner? %>
  <div class="mb-6">
    <h2 class="text-lg lg:text-xl font-bold">Archives</h2>
    <%= render 'list', announcements: @archived %>
  </div>
  <div class="mb-6">
    <h2 class="text-lg lg:text-xl font-bold">Drafts</h2>
    <%= render 'list', announcements: @draft %>
  </div>
<% end %>








