<div class="text-left">
  <span class="text-sm font-medium text-gray-900 t">Already have an account? </span><%= link_to "Log in", new_session_path(resource_name), class: 'text-sm font-medium text-blue-500 hover:underline' %>
</div>