<div class="w-full border border-gray-200 rounded-md">
  <div class="p-2 bg-gray-200 rounded-md rounded-b-none">
    <h1 class="font-medium"> <i class="fa-solid fa-bullhorn w-5 h-5 flex-shrink-0 text-gray-800"></i> Announcement</h1>
  </div>
  <div class="p-2">
    <% if @latest_published_announcement %>
      <h1 class="font-medium"><%= @latest_published_announcement.title %></h1>
      <p class="text-sm"><%= truncate(@latest_published_announcement.description) %></p>
      <%= link_to 'View', announcement_path(@latest_published_announcement), class: 'font-medium text-blue-600 hover:underline text-sm'  %>
    <% else %>
      <p>No new announcement</p>
    <% end %>
  </div>
</div>