<footer class="w-full mt-3" aria-label="footer">
  <div class="border-t-1 border-t-gray-600 w-full text-center">
    <h1 class="text-xs font-medium tracking-tight leading-none text-gray-800">© 2022 MWPMI. All Rights Reserved.</h1>
  </div>
</footer>