<aside class="w-full" aria-label="Navbar">
  <div class="py-4 px-3 bg-gray-100 w-full flex justify-between place-items-center">
    <div>
      <h1 class="text-3xl font-extrabold tracking-tight leading-none text-gray-800 md:text-4xl">MWPMI Management System</h1>
    </div>
  </div>
</aside>