<div class="flex-none flex place-items-center gap-2 bg-gray-200 p-2 rounded-lg rounded-b-none">
  <i class="fa-solid fa-book w-5 h-5 flex-shrink-0 text-gray-800"></i>
  <h1 class="font-bold">Rules and Regulations</h1>
</div>
<div class="p-4 flex flex-col gap-4 overflow-y-auto">
  <div>
    <h3 class="text-center font-bold underline mb-2">General Reminders</h3>
    <ol class="list-inside list-decimal flex flex-col gap-2">
      <li class="flex gap-4">
        <span>1.</span>
        <p>Maintain peace and order inside all Modern World premises. LESSEE will be disciplined accordingly for their untoward behavior as management will not tolerate unruly behavior and/or violence.</p>
      </li>
      <li class="flex gap-4">
        <span>2.</span>
        <p>Do not bring any Prohibited Substances or Objects inside the building (i.e. Alcohol, Vape, Tobacco, Drugs, Deadly Weapons, Hazardous Liquids, and etc.).</p>
      </li>
      <li class="flex gap-4">
        <span>3.</span>
        <p>Alcohol Consumption or mere possession of bottles or other related paraphernalia inside Modern World premises will be PENALIZED.</p>
      </li>
      <li class="flex gap-4">
        <span>4.</span>
        <p>LESSEE is expected to report to the management for any faulty or damaged facilities, appliances and fixtures.</p>
      </li>
      <li class="flex gap-4">
        <span>5.</span>
        <p>LESSEE is not allowed to lend or borrow money and gadgets to other LESSEE and Modern World staffs.</p>
      </li>
      <li class="flex gap-4">
        <span>6.</span>
        <p>LESSEE shall secure all their things and belongings. Never leave valuable items unsecured and unattended. <span class="underline font-bold">Management shall not be liable for any losses.</span></p>
      </li>
      <li class="flex gap-4">
        <span>7.</span>
        <p>MALE lessees are not allowed to enter FEMALE lessees and vice-versa.</p>
      </li>
      <li class="flex gap-4">
        <span>8.</span>
        <p>LESSEE is not allowed to sleep or stay on the room of other LESSEE.</p>
      </li>
      <li class="flex gap-4">
        <span>9.</span>
        <p>Keep ALL doors (Main and Room) locked at all times.</p>
      </li>
      <li class="flex gap-4">
        <span>10.</span>
        <p>Always bring with you your keys to your apartment and room. UCB Residences will charge P20.00 per assistance to all LESSEEs who were locked out of their rooms and or apartments.</p>
      </li>
      <li class="flex gap-4">
        <span>11.</span>
        <p class="font-bold underline">Strictly NO PDA (Public Display of Affection).</p>
      </li>
    </ol>
  </div>
  <div>
    <h3 class="text-center font-bold underline mb-2">Curfew and Security</h3>
    <ol class="list-inside list-decimal flex flex-col gap-2">
      <li class="flex gap-4">
        <span>1.</span>
        <p>Curfew hours shall be from 10PM to 5AM daily. However, Modern World may extend curfew hours without any notice, especially during emergency, mass disorder, or such impending danger may occur.</p>
      </li>
      <li class="flex gap-4">
        <span>2.</span>
        <p>LESSEE will follow the curfew signal for the OPEN GROUNDS, Lights Off on the OPEN GROUNDS signifies that all tenant myst return to the premises. Regular schedule of open grounds lights off is 10PM or earlier.</p>
      </li>
      <li class="flex gap-4">
        <span>3.</span>
        <p>LESSEE shall present his/her belongings to the guard on duty and log their "time-in" and "time-out" before entering and leaving the premises.</p>
      </li>
      <li class="flex gap-4">
        <span>4.</span>
        <p>LESSEE who are under the influence of liquor shall not be allowed to enter the premises.</p>
      </li>
      <li class="flex gap-4">
        <span>5.</span>
        <p>Only with emergency cases LESSEE shall be allowed to go out during curfew hours.</p>
      </li>
      <li class="flex gap-4">
        <span>6.</span>
        <p>No loitering during curfew hours. Only LESSEES who are studying will be allowed to remain on common grounds.</span></p>
      </li>
      <li class="flex gap-4">
        <span>7.</span>
        <p>LESSEE is NOT ALLOWED TO CHECK OUT during this period.</p>
      </li>
    </ol>
  </div>
  <div>
    <h3 class="text-center font-bold underline mb-2">Apartment Unit</h3>
    <ol class="list-inside list-decimal flex flex-col gap-2">
      <li class="flex gap-4">
        <span>1.</span>
        <p>LESSEE must maintain cleanliness and orderliness of the apartment.</p>
      </li>
      <li class="flex gap-4">
        <span>2.</span>
        <p>Turn off the lights and electric fan and other electrical devices if not used, this will prolong the life of said devices.</p>
      </li>
      <li class="flex gap-4">
        <span>3.</span>
        <p><span class="underline font-bold">NO VISITORS are allowed to enter the apartment.</span> Visitors violating this urle shall be banned permanently from entering Modern World premises without any warning.</p>
      </li>
      <li class="flex gap-4">
        <span>4.</span>
        <p>LESSEE is not allowed to place bulky objects (i.e. cabinets, tables, luggages, and etc.) in the common area. Management will confiscate any object that may cause obstruction.</p>
      </li>
      <li class="flex gap-4">
        <span>5.</span>
        <p><span class="italic font-bold">Do not bring any unauthorized appliances</span> such as: washing machine, cooking range, gas stove, etc. without any permission from the management. Management will confiscate alike appliances.</p>
      </li>
    </ol>
  </div>
  <div>
    <h3 class="text-center font-bold underline mb-2">Rooms</h3>
    <ol class="list-inside list-decimal flex flex-col gap-2">
      <li class="flex gap-4">
        <span>1.</span>
        <p>Space under the bed of the lower deck is to be shared equally by both upper deck and lower deck occupant.</p>
      </li>
      <li class="flex gap-4">
        <span>2.</span>
        <p>Do not remove the foam mattress on the double deck as well as the plastic cover on the said mattress; this is for the benefit of the next user and likewise for hygienic purposes. Violators shall be fined to pay for or replace the said mattress for this offense.</p>
      </li>
      <li class="flex gap-4">
        <span>3.</span>
        <p>LESSEE is not allowed to keep large extra cabinte/s that will consume space other than the leased bed space and approved storage box. Management has the right to refuse/reject such object that the LESSEE may bring inside the building</p>
      </li>
      <li class="flex gap-4">
        <span>4.</span>
        <p>LESSEE is expected to change bed sheets on a weekly basis or earlier if necessary, to prevent buildup of unwanted odor.</p>
      </li>
      <li class="flex gap-4">
        <span>5.</span>
        <p>Do not stack filthy/used clothes to prevent buildup of unwanted odor inside the room.</p>
      </li>
      <li class="flex gap-4">
        <span>6.</span>
        <p>Housekeepong fee P500.00 per leased space.</p>
      </li>
    </ol>
  </div>
  <div>
    <h3 class="text-center font-bold underline mb-2">Toilet and Shower Rooms</h3>
    <ol class="list-inside list-decimal flex flex-col gap-2">
      <li class="flex gap-4">
        <span>1.</span>
        <p>LESSEE is expected to switch off lights, make sure the faucet and shower are closed thoroughly.</p>
      </li>
      <li class="flex gap-4">
        <span>2.</span>
        <p>Proper disposal of sanitary napkin, tissue, shampoo and conditioner sachet. DO NOT THROW them at the toilet bowl, this will cause toilet clogging.</p>
      </li>
    </ol>
  </div>
  <div>
    <h3 class="text-center font-bold underline mb-2">Study Area</h3>
    <ol class="list-inside list-decimal flex flex-col gap-2">
      <li class="flex gap-4">
        <span>1.</span>
        <p><span class="underline font-bold">Clean As You Go.</span> Dispose your trash properly. Tidy and arrange the tables and chairs after using them.</p>
      </li>
      <li class="flex gap-4">
        <span>2.</span>
        <p>Maintain the orderliness and peaceful environment of the study area for the benefit of those LESSEES who are studying and those who are resting inside their rooms. Noise coming from the study area can be heard while inside the room.</p>
      </li>
      <li class="flex gap-4">
        <span>3.</span>
        <p>Equal opportunity for all LESSEES. Do not leave your things on the table signifying "reservation". Every table has a capacity of six (6), please do not occupy the whole table for yourself.</p>
      </li>
      <li class="flex gap-4">
        <span>4.</span>
        <p>Do not bring the chairs provided by the management in your rooms or apartments. Offender shall be charged P100.00 per chair.</p>
      </li>
      <li class="flex gap-4">
        <span>5.</span>
        <p>LESSEE shall have the exclusive use of the study area; Visitors are strictly not allowed in this area.</p>
      </li>
    </ol>
  </div>
  <div>
    <h3 class="text-center font-bold underline mb-2">Open Space, Common Grounds and Facilities</h3>
    <ol class="list-inside list-decimal flex flex-col gap-2">
      <li class="flex gap-4">
        <span>1.</span>
        <p>LESSEE will not be allowed to use the Open Grounds as soon as the lights are turned off. (Regular schedule of Lights Off is at 12MN or earlier).</p>
      </li>
      <li class="flex gap-4">
        <span>2.</span>
        <p>LESSEES are the priority users of Open/Common Grounds and all other facilities.</p>
      </li>
      <li class="flex gap-4">
        <span>3.</span>
        <p>As such, LESSEE shall observe the cleanliness and orderliness of this place and other facilities.</p>
      </li>
      <li class="flex gap-4">
        <span>4.</span>
        <p>LESSEE shall not be allowed to loiter on the open grounds during curfew hours.</p>
      </li>
      <li class="flex gap-4">
        <span>5.</span>
        <p>In case LESSEE broke or damaged any property while inside the premises, but is not limited to, electrical appliances, electronic device, sporting equipment, and etc., LESSEE is obliged to py or replace said item immediately.</p>
      </li>
      <li class="flex gap-4">
        <span>6.</span>
        <p>LESSEE is not allowed to use any application similar to uTorrent and Bitorrent. Offenders will be banned to use the internet services provided by the management for one week.</p>
      </li>
    </ol>
  </div>
  <div>
    <h3 class="text-center font-bold underline mb-2">Visitors and Visitation</h3>
    <ol class="list-inside list-decimal flex flex-col gap-2">
      <li class="flex gap-4">
        <span>1.</span>
        <p>Visiting hours is strictly during <span class="underline font-bold">9AM - 7PM</span> only.</p>
      </li>
      <li class="flex gap-4">
        <span>2.</span>
        <p>Parents and other relatives are not allowed to enter the apartment area without any official permit from the admin's office.</p>
      </li>
      <li class="flex gap-4">
        <span>3.</span>
        <p>Visitors will not be allowed to enter the visitor's area without the presence of the LESSEE, for avoidance of doubt visitor must wait outside of the premises until LESSEE is available to receive such visitor.</p>
      </li>
      <li class="flex gap-4">
        <span>4.</span>
        <p>Visitors must secure a "Visitor's Pass" from the guard. "No ID, No Entry" shall be strictly implemented.</p>
      </li>
      <li class="flex gap-4">
        <span>5.</span>
        <p>LESSEE shall fetch or accompany his/her own visitor at the gate entrance. Without the presence of the LESSEE, visitors will not be entertained by the management.</p>
      </li>
      <li class="flex gap-4">
        <span>6.</span>
        <p>Visitors are prohibited to enter the apartment units, rooms and study area. Offenders shall be banned and escorted out of the premises.</p>
      </li>
      <li class="flex gap-4">
        <span>7.</span>
        <p>Modern World shall not be liable for any damage or losses caused or sustained by visitors. Instead, LESSEE who invited the said visitor shall be liable for such event.</p>
      </li>
      <li class="flex gap-4">
        <span>8.</span>
        <p>Visitors must comply with all rules and regulations implemented by Modern World. Offenders shall be banned and escorted out of the premises.</p>
      </li>
      <li class="flex gap-4">
        <span>9.</span>
        <p>Modern World may reject visitors especially during heightened security alerts or emergency events.</p>
      </li>
    </ol>
  </div>
  <div>
    <h3 class="text-center font-bold underline mb-2">PENALTIES</h3>
    <p class="mb-4">The rules and regulations shall be observed while inside any Modern World premises at all times or during the lifetime of your contract with Modern World. Otherwise, corresponding penalty shall be imposed depending on the nature of violation</p>
    <ol class="list-inside list-decimal flex flex-col gap-2 ml-10">
      <li class="flex gap-4">
        <span>1.</span>
        <p><span class="underline font-bold">FIRST OFFENSE:</span> Written or Verbal warning plus informing the parent/guardian regarding the offense.</p>
      </li>
      <li class="flex gap-4">
        <span>2.</span>
        <p><span class="underline font-bold">SECOND OFFENSE:</span> Fine amounting to P500.00/offense.</p>
      </li>
      <li class="flex gap-4">
        <span>3.</span>
        <p><span class="underline font-bold">THIRD OFFENSE:</span> TERMINATION OF CONTRACT.</p>
      </li>
    </ol>
  </div>
  
</div>