<div class="flex h-full px-56 gap-48">
  <div class="flex-auto flex flex-col place-items-center justify-center basis-2/3">
    <h1 class="mb-10 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-white">Looking for a <span class="text-blue-500">home</span> near your campus?</h1>
    <p class="text-lg font-light text-white lg:text-xl text-justify">Modern World Property Management Inc. offers various type of accomodation such as bedspacing, dormitories, studio type apartments, and an option for an empty or a fully furnished condominium unit all around the University Belt!</p></p>
  </div>
  <div class="flex items-center justify-center">
    <%= render 'shared/inquiry_form' %>
  </div>
</div>