<div class="w-full h-full flex items-center justify-center">
  <div class="p-10 shadow-lg bg-white rounded-lg">
    <h1>Thank you for your interest in our services. Our team will look into your inquiry and contact you as soon as possible. Have a great day!</h1>
  </div>
</div>