<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user %>
  <p>Hello <%= current_user.first_name %></p>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete  %>

<% else %>
  <p>You are not signed in</p>
  <%= link_to "Inquire", new_inquiry_path %> <br>
  <%= link_to "Go to Portal", new_user_session_path %>
<% end %>
