<% if tenants.any? %>
  <div class="overflow-x-auto relative rounded-md">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-800 uppercase bg-gray-200 lg:table-fixed">
        <tr>
          <th class="p-3">Email</th>
          <th class="p-3 text-center">First Name</th>
          <th class="p-3 text-center">Last Name</th>
        </tr>
      </thead>
      <tbody>
        <% tenants.each do |tenant| %>
          <tr class="bg-white border-b hover:bg-gray-100 text-gray-800">
            <td class="p-3"><%= link_to tenant.email, tenant_path(tenant), class: 'font-medium text-blue-600 hover:underline' %></td>
            <td class="p-3 text-center"><%= tenant.first_name %></td>
            <td class="p-3 text-center"><%= tenant.last_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div>
    <p class="italic text-sm">Empty</p>
  </div>
<% end %>